@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --primary: #ffd56f;
  --secondary: #6db4ac;
  --secondary_light: #3e8e85;
  --tertiary: #feb491;
  --background0: #ffffff;
  --background1: #fcfcfc;
  --background2: #fcfbf9;
  --text: #222222;
  --textlight: #888888;
  --textlighter: #d9d9d9;
  --title1: 60px;
  --title2: 48px;
  --title3: 40px;
  --title4: 32px;
  --title5: 24px;
  --title6: 24px;
  --parr1: 16px;
  --parr2: 13px;
  --subparr: 11px;
}
